._widget-cont {
  max-width: 596px !important;
  margin-right: auto;
  margin-left:auto;
  text-align:center;
  border: 2px solid #02CFD2;
  border-top-left-radius: 10px;
   border-top-right-radius: 10px;
  border-top: none !important;
  margin-top: 10px;
  
}

._widget_open_more {
  background: none !important;
  border: none !important;
  cursor: pointer;
}

._popup_cont {
  max-width: 850px !important;
  margin-right: auto;
  margin-left:auto;
  text-align:center;
  border: 2px solid #02CFD2;
  border-top-left-radius: 10px;
   border-top-right-radius: 10px;
  border-top: none !important;
  margin-top: 10px;
  
}

._top_text {
  margin-top: 25px;
}

._widget-header {
  color: white !important;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(31,226,171);
background: linear-gradient(90deg, rgba(31,226,171,1) 0%, rgba(2,207,210,1) 100%);
  border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

._popup-header {
  color: white !important;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(31,226,171);
background: linear-gradient(90deg, rgba(31,226,171,1) 0%, rgba(2,207,210,1) 100%);
  border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}


._underslider_text_cont {
  max-width: 50%;
  margin-right: auto;
  margin-left:auto;
  margin-top: 35px;
}

._widget_get_more {
  margin-top: 25px;
  margin-bottom: 20px;
  background: rgb(104,48,218);
background: linear-gradient(90deg, rgba(104,48,218,1) 0%, rgba(138,90,238,1) 100%);
  border: none;
  padding: 14px 25%; 
  border-radius: 40px;
  color: white;
  font-size: 15pt;
}

._popup_get_more {
  margin-top: 25px;
  margin-bottom: 20px;
  background: rgb(104,48,218);
background: linear-gradient(90deg, rgba(104,48,218,1) 0%, rgba(138,90,238,1) 100%);
  border: none;
  padding: 14px 5%; 
  border-radius: 40px;
  color: white;
  font-size: 15pt;
}

._widget_open_more {
  margin-bottom: 35px;
   color: grey !important;
  text-decoration: underline;
}

._slider_cont {
   max-width: 75%;
  margin-right: auto;
  margin-left:auto;
 
}

 ._control {
  font-size: 15pt !important;
   font-weight: 800;
   bottom: 1em !important;

}

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #969696;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li a {
  background-color: #EBEBEB;
  
}

._popup_bottom_slider {
  text-align: center;
}
._popup_bottom_slider div img {
 margin-left: auto;
  margin-right: auto;
}

._popup_paring_point {
  text-align: center;
 margin-top: 15px;
  padding-bottom: .8em;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2em;
  margin-right: 5em;
  margin-left: 5em;
}

._popup_inner_cont {
  text-align: center;
  border: 1px solid lightgray;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

._popup_bottom_slider {
  width: 100% !important;
}
._ingredient {
  padding: 5px 15px 5px 15px;
   border-radius: 25px;
    background: lightgray;
  width: 13%;
}
._popup_ingredients {
  text-align: left;
  margin-left: 6em;
  margin-bottom: 2em;
 
}
._popup_notes {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}

._popup_newsletter {
  margin-bottom: 2.5em;
}

._popup_email {
  width: 35%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid gray;
}

.modal-dialog {
  max-width: 1500px !important;
  margin: 0px !important;
}

#winepopup {
  overflow: hidden;
  padding-left: 0px !important;
}
.modal {
    overflow-y: auto !important;
}

.modal {
 	padding-left: 0px !important;
	padding-right: 0px !important;
  width: 850px;
  right: 0 !important;
  margin-top: 6em !important;
	 margin-bottom: 1em !important;
	    max-height: 85vh !important;
}

._popup_bottom_slider .lslide {
  max-width: 250px !important;
  width: 250px !important;
}

._header_text {
	width: 100%;
	text-align:center;
	color: white;
}

.lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
    padding-left: 0;
    list-style: none !important;
}

.modal::-webkit-scrollbar {
   display: none !important;
}
